* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin-left: 200px;
  margin-right: 200px;
  font-family: "Dosis", sans-serif;

  @media (max-width: 1200px) {
    margin-left: 100px;
    margin-right: 100px;
  }

  @media (max-width: 768px) {
    margin-left: 50px;
    margin-right: 50px;
  }

  @media (max-width: 520px) {
    margin-left: 15px;
    margin-right: 15px;
  }
}

header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;

  @media (max-width: 768px) {
    justify-content: space-around;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }

  @media (max-width: 520px) {
    flex-direction: column;
    text-align: center;
  }
}

.logo {
  @media (max-width: 1200px) {
    width: 150px;
  }

  @media (min-width: 768px) {
    width: 200px;
    padding: 5px;
  }

  @media (max-width: 520px) {
    width: 60%;
    margin: 0 auto;
  }
}

nav ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  margin-top: 30px;

  @media (max-width: 520px) {
    flex-direction: column;
    flex-wrap: wrap;
  }
}

nav a {
  text-decoration: none;
  width: 150px;
  text-align: center;
  padding: 3px;
  font-size: 16px;
  font-weight: bold;
  color: #741603;
  margin: 0 20px;

  @media (max-width: 1200px) {
    padding: 3px;
    margin: 0 15px;
  }

  @media (max-width: 768px) {
    font-size: 18px;
    padding: 3px;
  }
}

nav a:hover {
  background-color: #741603;
  color: #fff;
  border-radius: 15px;
}

.cover-img {
  width: 100%;
  margin-top: 50px;

  @media (max-width: 520px) {
    height: 130px;
  }
}

.cover-img:hover {
  opacity: 0.7;
}

h1 {
  font-family: "Sacramento", cursive;
  font-size: 40px;

  @media (max-width: 520px) {
    font-size: 28px;
  }
}

.descriere {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}

.descriere-p {
  width: 50%;
  font-size: 18px;

  @media (max-width: 1200px) {
    width: 45%;
  }

  @media (max-width: 768px) {
    width: 100%;
  }

  @media (max-width: 520px) {
    width: 100%;
    font-size: 15px;
  }
}

.aside {
  background-color: tan;
  width: 600px;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  font-family: "Dancing Script", cursive;
  padding: 20px;

  @media (max-width: 1600px) {
    width: 500px;
  }

  @media (max-width: 1200px) {
    width: 400px;
  }

  @media (max-width: 768px) {
    width: 100%;
    margin: 0;
  }

  @media (max-width: 520px) {
    width: 100%;
    font-size: 15px;
  }
}

/*### Productie ###*/

.container-productie {
  margin-top: 50px;
}

.etape-p {
  font-size: 20px;
}

.lista-productie {
  margin-left: 18px;
}

a {
  text-decoration: none;
  color: #000;
}

ul {
  list-style-type: circle;
}

.etape {
  margin-top: 30px;

  @media (max-width: 520px) {
    font-size: 20px;
  }
}

main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.etape-img {
  margin-right: 35px;
  margin-top: 15px;

  @media (max-width: 1200px) {
    width: 250px;
    height: 250px;
    margin-right: 20px;
  }

  @media (max-width: 768px) {
    width: 100%;
    margin: 0;
  }

  @media (max-width: 520px) {
    height: 200px;
  }
}

.procese-fabricare {
  margin-top: 15px;
  font-size: 18px;
  width: 60%;

  @media (max-width: 1200px) {
    width: 67%;
  }

  @media (max-width: 768px) {
    width: 100%;
  }

  @media (max-width: 520px) {
    font-size: 15px;
  }
}

/*###  Produse ###*/

.container-produse {
  margin-top: 100px;
}

.item {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;

  @media (max-width: 768px) {
    justify-content: space-evenly;
  }
}

.produse-tipuri {
  margin-top: 20px;
  margin-bottom: 10px;
  @media (max-width: 520px) {
    font-size: 20px;
  }
}

.design {
  border-radius: 25px 0;
  @media (max-width: 768px) {
    border-radius: 25px;
  }
}

.designM {
  border-radius: 25px;
}

.produse {
  @media (max-width: 1200px) {
    width: 250px;
  }

  @media (max-width: 768px) {
    width: 300px;
    margin-top: 10px;
  }

  @media (max-width: 520px) {
    width: 100%;
    height: 300px;
  }
}

.design2 {
  border-radius: 0 25px;

  @media (max-width: 768px) {
    border-radius: 25px;
  }
}

.img-bottom {
  @media (max-width: 768px) {
    width: 70%;
  }

  @media (max-width: 520px) {
    width: 100%;
  }
}

/*### Chestionar ### */
.container-chestionar {
  width: 100%;
  margin: 0 auto;
  margin-top: 100px;

  @media (max-width: 1200px) {
    width: 100%;
  }

  @media (max-width: 768px) {
    width: 100%;
  }
}

form {
  font-weight: bold;
  background-color: tan;
  padding: 20px 50px 0;
}

.nume-email {
  height: 30px;
  width: 250px;
  border: none;
}

.send {
  width: 120px;
  height: 40px;
  text-align: center;
  font-weight: bold;
  margin: 30px;
  border: none;
  border-radius: 10px;
  background-color: #741603;
  color: #fff;
  text-transform: uppercase;
}

.send:hover {
  opacity: 0.7;
}

/* #### Contact #### */
.container-contact {
  margin-top: 100px;
  text-align: center;
  margin-bottom: 20px;
}

.contact-img {
  @media (max-width: 768px) {
    width: 100%;
  }

  @media (max-width: 520px) {
    height: 300px;
  }
}

.scurta-descriereP {

  font-family: "Sacramento", cursive;
  font-size: 40px;

  @media (max-width: 520px) {
    font-size: 30px;
  }
}
